/* Add screen styles below */
a.active {
    font-weight: bold;
}
nav{
    position: sticky;
}
h1{
    text-align:center;
}
div.gameDisplay{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
figure{
    position: relative;
    text-align: center;
    color: white;
}
figcaption{
    left: 0;
    position:absolute;
    text-align:center;
    bottom:-30%;
    width: 100%
}