/* Add screen styles below */
a.active {
    font-weight: bold;
}
nav{
    position: sticky;
}
h1{
    text-align:center;
}
div.gameDisplay{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1em;
    margin: px;
}
figure{
    position: relative;
    width:100%;
}
figure img{
    width:100%;
}
figcaption{
    position:absolute;
    text-align:center;
    left: 0;
    bottom: 3%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.545);
}
h6.fig{
    margin:0.1em;
}
.about{
    margin:2em;
}
